---
{"dg-publish":true,"permalink":"/01-philosophy/01-philosophy/religious-language/c20th/criticisms-of-verification/","tags":["lessonmajor","lessonminor"],"noteIcon":"","updated":"2026-04-13T09:48:39.079+01:00"}
---

> [!info] The verification principle
> A proposition is meaningful if it's truth value is empirically verifiable.

**Table of Contents**

- [[01 - Philosophy/01 Philosophy/Religious Language/c20th/Criticisms of verification#Narrow view of meaning\|Narrow view of meaning]]
	- [[01 - Philosophy/01 Philosophy/Religious Language/c20th/Criticisms of verification#Narrow view of meaning\|Assumes only science can tell us about the world]]
	- [[01 - Philosophy/01 Philosophy/Religious Language/c20th/Criticisms of verification#Narrow view of meaning\|Religious sentences are not in the same category as scientific sentences]]
	- [[01 - Philosophy/01 Philosophy/Religious Language/c20th/Criticisms of verification#Narrow view of meaning\|'Toys in the Cupboard' (Swinburne)]]
	- [[01 - Philosophy/01 Philosophy/Religious Language/c20th/Criticisms of verification#Narrow view of meaning\|Brummer]]
- [[01 - Philosophy/01 Philosophy/Religious Language/c20th/Criticisms of verification#Science v Theology\|Science v Theology]]
	- [[01 - Philosophy/01 Philosophy/Religious Language/c20th/Criticisms of verification#Science v Theology\|Emmet]]
- [[01 - Philosophy/01 Philosophy/Religious Language/c20th/Criticisms of verification#Fails it's own test\|Fails it's own test]]
	- [[01 - Philosophy/01 Philosophy/Religious Language/c20th/Criticisms of verification#Fails it's own test\|Practicality problems]]
	- [[01 - Philosophy/01 Philosophy/Religious Language/c20th/Criticisms of verification#Fails it's own test\|Ayer and Popper's response]]
- [[01 - Philosophy/01 Philosophy/Religious Language/c20th/Criticisms of verification#Eschatologically verifiable\|Eschatologically verifiable]]
	- [[01 - Philosophy/01 Philosophy/Religious Language/c20th/Criticisms of verification#Eschatologically verifiable\|The Celestial city]]
		- [[01 - Philosophy/01 Philosophy/Religious Language/c20th/Criticisms of verification#The Celestial city\|Hick's claim]]


## Narrow view of meaning
### Assumes only science can tell us about the world
<span style="color:rgb(255, 77, 77)">Art and poetry</span> reveal valuable things about human nature, but are <span style="color:rgb(255, 77, 77)">neither cognitive or scientifically verifiable</span>. Logical positivism, by reducing all significant language to two categories, leaves <span style="color:rgb(255, 77, 77)">no place for non verifiable contributions to human knowledge.</span>

### Religious sentences are not in the same category as scientific sentences
To reduce sentences to two classes — <span style="color:rgb(255, 77, 77)">meaningful and meaningless</span> — misrepresents the fulness of either the: range of possible sentences, or of meaning.

### 'Toys in the Cupboard' (Swinburne)
In <span style="color:rgb(0, 176, 240)">'Coherence of Theism'</span>, Swinburne argues against logical positivism by claiming that there are <span style="color:rgb(255, 77, 77)">sentences that obviously have meaning</span>, but are<span style="color:rgb(255, 77, 77)"> not verifiable</span> in any way, e.g.<span style="color:rgb(0, 176, 240)"> toys coming out of the cupboard at night and dancing around</span> -> r<span style="color:rgb(255, 77, 77)">eligious and ethical claims are still of meaning and importance even if they cannot be verified.</span>

> [!warning] Is Swinburne misinterpreting Ayer?
> Ayer does not deny the emotional value of religious statements; what he denies is their verifiability.
> > Although whether verifiability -> meaning/significance... debatably, no.
> We cannot go from: Swinburne's assumption that a statement about toys in a cupboard -> assuming that any statement about God is meaningful in the same way.
> > In Swinburne's sentence, all words are understood through empirical experience, but a sentence about God involves words with **cannot be checked through sense experience**.
> > > These words rely on faith.

### Brummer
**To dismiss the very possibility of God seems to necessitate a particular world-view.** 
- to suggest things are only significant **if** open to scientific investigation is<span style="color:rgb(255, 77, 77)"> based on it's own metaphysical viewpoint</span>: that the reality of the world is merely based on science.

## Science v Theology
### Emmet
**Theological statements are not as straightforward as scientific ones.** Error of Enlightenment thought to<span style="color:rgb(255, 77, 77)"> treat natural theology and it's claim univocally</span> — that is, as scientific propositions which are equivalent to those of conventional science. 

Logical positivisms want to look for <span style="color:rgb(255, 77, 77)">complete explanations</span> provided by science,<span style="color:rgb(255, 77, 77)"> when meaning can also come from faith,</span> which is<span style="color:rgb(255, 77, 77)"> not </span>something that can be verified/falsified.

## Fails it's own test
The claim that statements are only meaningful is verifiable is, in itself, an unverifiable claim: it cannot be verified by sense experience. So, ironically,<span style="color:rgb(255, 77, 77)"> it is self-disproving.</span>

---
Since we can't test the verification principle via sense experience, it isn't synthetic.

If it is analytical, then the problem is that logical positivists have given a new meaning to the word 'meaningful'.

### Practicality problems
- <span style="color:rgb(0, 176, 240)">scientifically,</span> not all claims will be verifiable. 
	- like with the existence of<span style="color:rgb(0, 176, 240)"> black holes</span>
- <span style="color:rgb(0, 176, 240)">historical statement</span>s are completely non-verifiable. 
	- we can read an <span style="color:rgb(0, 176, 240)">account from someone</span>, but that only means that we can decide that the writings are meaningful, not what they are actually describing
- how can we meaningfully describe our<span style="color:rgb(0, 176, 240)"> thoughts</span>?
	- what about 'I had a weird dream last night' or 'I'm not looking forward to my exams'
- what about <span style="color:rgb(0, 176, 240)">poetry, art, music, literature, etc</span>
	- they can describe aspects of human experience, and open up new ways of seeing the world. <span style="color:rgb(0, 176, 240)">But, they aren't verifiable.</span>
- even <span style="color:rgb(0, 176, 240)">economics, political science, and actual science</span> can fall short of the verification principle.
*Judgements and hypotheses are not proven in the way needed with the principle, but still have meaning.*

### Ayer and Popper's response
**Ayer** responded by claiming that <span style="color:rgb(146, 208, 80)">verificationism was a theory</span>, not a statement, so did not need to pass the test.

**Karl Popper** argued that <span style="color:rgb(146, 208, 80)">we cannot scientifically verify everything</span> — it's an illogical test of meaning.

## Eschatologically verifiable

### The Celestial city
> [!info] The story of the celestial city
> Two men are travelling together along a road. One of them believes that it leads to the Celestial City, and the other believes that it leads nowhere. But, since this is the only road there is, both must travel it. Neither have been this way before, therefore neither is able to say what they will find around each corner.
> 
> During their journey, they meet with moments of refreshment and delight, and with hardship and danger. All the time, one of them thinks that this journey is a pilgrimage to the Celestial City, and the other sees this journey as an unavoidable and aimless ramble. Yet, when they turn the last corner, it will be apparent that one of them has been right the whole time, and the other wrong.

So, how can this story help to answer the problem of whether religious language can have any meaning, when considered in the light of logical positivism?

#### Hick's claim
Hick tried to suggest that it is possible to verify religious language **after death**, using the Celestial City as an example of this.
- of course, this is difficult to test with our human senses — as the verification principle demands — since we will be different 'beings' after death.
- however, Hick's point does raise the issue of whether **future statements can be meaningful.**

