body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }



   // SVG scaling fix - make SVGs responsive and fit the container
.markdown-rendered svg,
.markdown-preview-view svg {
    max-width: 100%;
    height: auto;
    width: 100%;
    }

}
