body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }


.internal-embed[data-src$=".excalidraw"] {
  width: 100%;
  max-width: none;
  cursor: zoom-in;
}

.internal-embed[data-src$=".excalidraw"].fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background: #fff;
  margin: 0;
  padding: 0;
  overflow: auto;
  cursor: zoom-out;
  transition: all 0.3s ease-in-out;
}


}
