body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }



.excalidraw-wrapper.fullscreen,
.excalidraw-wrapper.fullscreen .excalidraw-container {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 9999;
  background: #fff;
  margin: 0;
  padding: 0;
}

.excalidraw-wrapper.fullscreen canvas.excalidraw__canvas {
  width: 100vw !important;
  height: 100vh !important;
}


   // SVG scaling fix - make SVGs responsive and fit the container
.markdown-rendered svg,
.markdown-preview-view svg {
    max-width: 100%;
    height: auto;
    width: 100%;
    }

}
